
{% extends 'Job/base.html' %}{% load static %}

{% block content %}
<style>

    body{
        color:rgb(4, 91, 98);
    }

    .main_container{
        margin-top: 2vh;
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
        min-height: 82vh;
            
    }

    .search_box{
        
        border-color: rgb(4, 91, 98);  
        border-width: 1vh;
        margin-bottom: 2vh;
        background-color: #f3f3f3;
        border-radius: 2vh;
        min-height: 6vh;
        padding-top: 1vh;
    }

    
    .search{
            
    }

    .choose{
        width: 10vw;
    }

    .location,.keyword{
        text-align: center;
    }

    .job{
        background-color: #f3f3f3;
        height: 70vh;
        border-radius: 2vh;
        padding: 1vw;
        margin-left: -3vw;
        margin-right: -3vw;
        padding-left: 0vw;
        padding-right: 0vw;
        
        
    }

    .job_list{
        margin-right: 2vw;
        margin-left: 2vw;
        
    }

    .job_list,.job_info{
        
        
        background-color: white;
        height: 66vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
        
    }

    .job_info{
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .job_title,.title{
        margin-top: 2vh;
    }

    .job_tile{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        min-height: 5vh;
    }

    .details{
        background-color: #f3f3f3;
        height: 4vh;
        padding-top: 1vh;
        margin-left: 1vh;
        margin-right: 1vh;
        text-align: center;
    }

    .job_details{
        text-align: center;
        color:rgb(4, 91, 98);
    }

    .job_description,.job_requirements{
        text-align: center;
        padding-left: -5vw;
        
        
    }

    .description,.requirements{
        text-align: justify;
        
        
    }

    .keywords,.location,.choose{
        width: 100%;
        height: 4vh;
        border-radius: 1vh;
        border-style: none;
        text-align: center;
    }

    .searchbutton
    {
        width: 100%;
        color: white;
        margin-top: 0.5vh;
        
    }

    .sbtn{
        background-color: rgb(186, 189, 189);
        border-style: none;
        margin-top: -0.2vh;
        margin-left: -1vh;
    }

    .title{
        background-color: white;
        border-style: none;
        border-color: rgb(4, 91, 98);
        text-align: justify;
        margin-top: -2vh;
        width: 14vw;
    }

    .addJobButton{

        margin-top: 2vh;
        margin-left: 4vw;
        margin-right: 2vw;
    }
    .numjobs{
        text-align: center;
    }

    .employerMode{
        margin-left: -3vw;
        margin-top: 0.2vh;
    }

    .searchand{
        margin-left: -3vw;
        margin-right: -3vw;
    }

</style>

<div class="main_container">
    
    

    <div class="searchand">

        <div class="col search_box">
            <form method="POST" class="form">
                {% csrf_token %}
            
                <div class="row search">
                    
                    <div class="col-4 keywords">
                        <input class="location" name="title" type="text" placeholder="title..">
                    </div>

                    <div class="col-4 location">
                        <input class="location" name="location" type="text" placeholder="location..">
                    </div>

                    <div class="col-2 choose">
                        <select class="choose" name="type dropdown" id="pet-select">
                            <option value="">Job Type</option>
                            <option value="part-time">Part-Time</option>
                            <option value="full-time">Full-Time</option>
                            <option value="contract">Contract</option>
                        </select>
                    </div>

                    <div class="col-1 searchbutton">
                        <button class="btn btn-danger sbtn"><span class="glyphicon glyphicon-search "></span></button>
                    </div>

                    <div class="col-1 employerMode">
            
                        <a href="{% url 'jobs' 1%}"><button type="button" class="btn btn-primary">Employee Mode</button></a>
                    </div>
                </div> 
            </form>
        </div>

    </div>

    

    <div class="row job">
        
        <div class="col-3 job_list">
            <hr>
        
            <div class="row addJobButton">
                <a href="{% url 'addJob' %}"><button type="button" class="btn btn-primary">+ Add Job</button></a>
            </div>

            <hr>

            <h5 class="numjobs">You've added {{numJob}} Jobs</h5>
            
            <hr>
            <button class="title" name="change">
                <h4>{{mainjob.title}}</h4>
                <h5>{{mainjob.business_name}}</h5>
                <h5>{{mainjob.city}}, {{mainjob.state}}, USA</h5>
            </button>
            <hr>
            {% if jobs is not none %}
            {% for job in jobs %}
            {% if job is not mainjob %}
            <a href="{% url 'employer' job.id %}">
            <button class="title" name="change">
                <h4>{{job.title}}</h4>
                <h5>{{job.business_name}}</h5>
                <h5>{{job.city}}, {{job.state}}, USA</h5>
            </button>
            </a>
            {% endif %}
            <hr>
            
            {% endfor %}
            {% endif %}

            {% if not jobs is not none %}
                <h4>Sorry! 0 jobs available.</h4>
                <hr>
            {% endif %}   
            
        </div>
        
        <div class="col-8 job_info">
            
            <div class="job_title">
                <hr>
                <div class="row">
                    <div class="col-9">
                        <h4> {{mainjob.title}} </h4>
                        <h5>{{mainjob.business_name}}</h5>
                        <h5>{{mainjob.street_address}}, {{mainjob.city}}, {{mainjob.state}}, {{mainjob.zip_code}}.</h5>
                    </div>
                    <div class="col-3" style="text-align:right;">
                        <button type="button" class="btn btn-primary">Applications</button>
                        
                    </div>
                </div>
                
            </div>

            <div class="job_details">
                <hr>
                
                <div class="row job_section">
                    <div class="col details">
                        {{mainjob.type}}
                    </div>
                    {% if mainjob.schedulable %}
                    <div class="col details">
                        schedulable
                    </div>
                    {% endif %}
                    
                    <div class="col details">
                        ${{mainjob.pay_range}}
                    </div>
                    <div class="col details">
                        Free Food
                    </div>
                </div>
            </div>
            <div class="job_description">
                <hr>
                <h4> Job Description </h4>
                <hr>
                <div class="description">
                {{mainjob.job_description|safe}}
                <br>  
                </div>
                
            </div>

        </div>
        
    </div>
    
</div>
        
{% endblock %}
        
    
    
    
    
