{% extends 'Job/jobs_base.html' %}

{% block userMode %}
        <a href="{% url 'jobs' 1%}"><button type="button" class="btn btn-primary">Employee Mode</button></a>
{% endblock %}

{% block employerJobs %}
    <div class="row addJobButton">
        <a href="{% url 'addJob' %}"><button type="button" class="btn btn-primary">+ Add Job</button></a>
    </div>
    <hr>
    <h5 class="numjobs">You've added {{numJob}} Jobs</h5>
    <hr>
{% endblock %}

{% block mainJob %}
<a href="{% url 'employer' job.id %}"></a>
{% endblock %}

{% block userFunctions %}
    <button type="button" class="btn btn-primary">Applications</button>
{% endblock %}