{% extends 'Job/base.html' %}{% load static %}
{% block content %}
    <style>

        .main_container{
            margin-top: 2vh;
            width: 60vw;
            margin-left: 20vw;
            margin-right: 20vw;
                
        }

        .main_post,.post_box{
            
            padding-top: 2vh;
            padding-left: 1vw;
            border-color: rgb(4, 91, 98);  
            border-width: 1vh;
            margin-bottom: 2vh;
            background-color: #f3f3f3;
            border-radius: 2vh;
        }

        .main_post {
            min-height: 30vh;
            margin-bottom: 2vh;
            padding-bottom: 1vh;
            text-align: center;
            
        }

        .post_box{
            height: 30vh;
            padding-left: 10vw;
            padding-top: 4vh;
        }

        .posts{
            margin-top: 2vh;
            padding-top: 5vh;
            border-style: outset;
            border-color: rgb(4, 91, 98);  
            border-width: 1vh;
        }

        .post_top{
            width: 30vw;
            margin-left: 0vw;
        }

        .post_pic{
            border-style: double;
            height: 10vh;
            width: 10vh;
            margin-left: 5vh;
            border-radius: 10vh;
            padding-top: 2.5vh;
            padding-left: 1.5vw;
            background-color: rgb(4, 91, 98);
            color: white;
            margin-top: 2vh;
            font-size: x-large;
            }

        .post_name{
            margin-top: 2vh;
            width: 30vw;
            text-align: left;
            
        }

        .mainSub{
            text-align: justify;
            margin-left: 11vw;
            margin-right: 2vw;
            margin-top: -2vh;
            border-radius: 1vh;
            margin-bottom: 2vh;
            font-size: larger;
            background-color: white;
            overflow-y: hidden;
            min-height: 5vh;
            padding: 1vh; 
        }

        .experience{
            width: 40vw;
            height: 15vh;
            border-style: none;
            text-align: center;
            border-radius: 2vh;
            margin-bottom: 1vh;
        }

        .postsubmit{
            width: 10vw;
            margin-left: 15vw;
            margin-top: 1vh;
            border-style: none;
            background-color:rgb(4, 91, 98);
        }

        .post_container{
            min-height: 30vh;
        }

        .profileImage{
            width: 11vh;
            height: 11vh;
            border-radius: 11vh;
            margin-left: 2vw;
            margin-top: 2vh;
        }

        .no_post{
            text-align: center;
            padding-top: 20vh;
            min-height: 48vh;
        }

        .profile_pic{
            text-align: right;
        }


    </style>

    <div class="main_container">
        <div class="post_box">
            <form method="POST" class="form">
                {% csrf_token %}
                <input type="text"  class="experience" placeholder="Share Your Experience.." name="description" id="description">
                <input type="submit" value="Share"  name="post" class="btn btn-primary btn-lg postsubmit">
            </form>    
        </div>
        
        <div class="post_container">
            {% if posts %}
            {% for post in posts %}
            <div class="main_post">
                
                        <div class="row post_top">
                            <div class="col-4 profile_pic">
                                <img src="{% static 'images/Job/pic.jpg'%}" alt="pic" class="profileImage">
                            </div>
                            <div class="col-6 post_name">
                                <h4> {{post.user_profile.first_name}} {{post.user_profile.last_name}}</h4> 
                                <h5>{{post.created_at}}</h5>
                            </div>
                            
                        </div>

                        <div class="row mainSub">
                            {{post.description}}
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dolorem alias laboriosam neque reiciendis nostrum eveniet facere placeat aliquid, expedita minus adipisci numquam cumque velit. Nemo fugiat delectus quibusdam earum!
                            Ipsa omnis vel praesentium soluta, culpa voluptas quibusdam excepturi deleniti perspiciatis ut consectetur vitae accusantium quod dignissimos facere unde reprehenderit suscipit minus esse? Odit voluptatibus harum aliquid, soluta mollitia enim?
                            Illo placeat, amet veniam dicta blanditiis ea veritatis aperiam earum, adipisci quos neque dignissimos suscipit! Quod illum tempore quasi corporis atque unde commodi accusamus deserunt ex voluptatibus? Itaque, nemo mollitia.`
                        </div>

                        
            </div> 
            {% endfor %}
            {% endif %}
            {% if not posts %}
                <h3>Sorry! No Posts Available at the moment.</h3>  
            {% endif %}     
        </div>    
    </div>
    {% endblock %}
    



