
{% extends 'Job/jobs_base.html' %}

{% block userMode %}
        <a href="{% url 'employer' 1%}"><button type="button" class="btn btn-danger">Employer Mode</button></a>
{% endblock %}

{% block employerJobs %}{% endblock %}

{% block mainJob %}
<a href="{% url 'jobs' job.id %}"></a>
{% endblock %}

{% block userFunctions %}
    
    <a href="{% url 'applyjob' mainjob.id %}"><button type="button" class="btn btn-primary">Apply</button></a>
        
    <a href=""><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-bookmark"></span></button></a>
{% endblock %}
