{% extends 'Job/base.html' %}{% load static %}

{% block content %}
    <style>

        .main_container{
            margin-top: 2vh;
            width: 60vw;
            margin-left: 20vw;
            margin-right: 20vw;
            min-height: 83vh;
             
        }

        .search_box{
            
            padding-left: 1vw;
            border-color: rgb(4, 91, 98);  
            border-width: 1vh;
            margin-bottom: 2vh;
            background-color: #f3f3f3;
            border-radius: 2vh;
            min-height: 5vh;
            padding-top: 1vh;
        }

        .posts{
            margin-top: 2vh;
            
            padding-top: 5vh;
            border-style: outset;
            border-color: rgb(4, 91, 98);  
            border-width: 1vh;
        }

        .post_top{
            
            width: 30vw;
            margin-left: 0vw;
        }

        .post_pic{
            border-style: double;
            height: 10vh;
            margin-left: 5vh;
            border-radius: 50%;
            padding-top: 2vh;
            padding-left: 2vw;
            background-color: rgb(4, 91, 98);
            color: white;
        }

        .post_name{
            margin-top: 2vh;
            width: 30vw;
            
        }

        .mainSub{
            text-align: justify;
            margin-left: 10vw;
            margin-right: 10vw;
            margin-top: 1vh;
            margin-bottom: 5vh;
            border-radius: 1vh;
            margin-bottom: 2vh;
            font-size: larger;
            background-color: white;
            overflow-y: hidden;
            min-height: 5vh;
            padding: 1vh; 
        }

        .experience{
            width: 40vw;
            height: 15vh;
            border-style: none;
            text-align: center;
            border-radius: 2vh;
            margin-bottom: 1vh;
        }

        .postsubmit{
            width: 10vw;
            margin-left: 15vw;
            margin-top: 1vh;
            border-style: none;
            background-color:rgb(4, 91, 98);
        }

        .search{
            text-align: left;
            margin-left: -4vw;
        }

        .choose{
            width: 10vw;
        }

        .location{
            text-align: center;
        }

        .job{
            background-color: #f3f3f3;
            min-height: 70vh;
            border-radius: 2vh;
            padding: 1vw;
            margin-left: -5vw;
            margin-right: -5vw;
        }

        .job_list{
            margin-right: 2vw;
            margin-left: 2vw;
            
        }

        .job_list,.job_header{
            
            overflow-y: scroll;
            background-color: white;
        }

        .job_header{
            padding-left: 1vw;
        }

        .title{
            margin-top: 2vh;
        }

        .details{
            background-color: #f3f3f3;
            height: 4vh;
            padding-top: 1vh;
            margin-left: 1vh;
            margin-right: 1vh;
            text-align: center;
        }

        .job_details{
            text-align: center;
            color:rgb(4, 91, 98);
        }

        

    </style>

    
    
    <div class="main_container">
        
        <div class="search_box">
            <form method="POST" class="form">
                {% csrf_token %}
            
                <div class="row search">

                    <div class="col-4 location">
                        <input type="text" placeholder="Keywords">
                    </div>

                    <div class="col-4 location">
                        <input type="text" placeholder="location">
                    </div>

                    <div class="col-3 choose">
                        <select name="pets dropdown" id="pet-select">
                            <option value="">--Job Type--</option>
                            <option value="part-time">Part-Time</option>
                            <option value="full-time">Full-Time</option>
                            <option value="contract">Contract</option>
                        </select>
                    </div>

                    <div class="col-1">
                        <button><span class="glyphicon glyphicon-search"></span></button>
                    </div>

                </div> 
            </form>
        </div>
        
        <div class="row job">
            
            <div class="col-3 job_list">
                <hr>
                <div class="title">
                    <a href=""><h4>Cashier</h4></a>
                    <h5>Ganja Kendra</h5>
                    <h5>3500 Concordia street, Monroe, LA, 71203.</h5>
                </div>
                <hr>
            </div>

            <div class="col-8 job_header">
                <div class="title">
                    <hr>
                    <a href=""><h4>Cashier</h4></a>
                    <h5>Ganja Kendra</h5>
                    <h5>3500 Concordia street, Monroe, LA, 71203.</h5>
                </div>

                <div class="job_details">
                    <hr>
                    <h4>Job Details</h4>
                    <hr>
                    <div class="row job_section">
                        <div class="col details">
                            Part-Time
                        </div>
                        <div class="col details">
                            schedulable
                        </div>
                        <div class="col details">
                            Morning Shift
                        </div>
                        <div class="col details">
                            Day Shift
                        </div>
                        <div class="col details">
                            Evening Shift
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
        
    </div>
    
    
        
       
    {% endblock %}
    



