{% extends 'Job/base.html' %}{% load static %}

{% block content %}
    <style>

        body{
            color:rgb(4, 91, 98);
        }

        .main_container{
            margin-top: 2vh;
            width: 60vw;
            margin-left: 20vw;
            margin-right: 20vw;
            min-height: 82vh;
             
        }

        .search_box{
            
            border-color: rgb(4, 91, 98);  
            border-width: 1vh;
            margin-bottom: 2vh;
            background-color: #f3f3f3;
            border-radius: 2vh;
            min-height: 6vh;
            padding-top: 1vh;
        }

        
        .search{
            text-align: left;
            margin-left: 3vw;
        }

        .choose{
            width: 10vw;
        }

        .location,.keyword{
            text-align: center;
        }

        .job{
            background-color: #f3f3f3;
            height: 70vh;
            border-radius: 2vh;
            padding: 1vw;
            margin-left: -3vw;
            margin-right: -3vw;
            
        }

        .job_list{
            margin-right: 2vw;
            margin-left: 2vw;
            
        }

        .job_list,.job_info{
            
            
            background-color: white;
            height: 66vh;
            overflow-y: scroll;
            scroll-behavior: smooth;
            
        }

        .job_info{
            padding-left: 2vw;
            padding-right: 2vw;
        }

        .job_title,.title{
            margin-top: 2vh;
        }

        .job_tile{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            min-height: 5vh;
        }

        .details{
            background-color: #f3f3f3;
            height: 4vh;
            padding-top: 1vh;
            margin-left: 1vh;
            margin-right: 1vh;
            text-align: center;
        }

        .job_details{
            text-align: center;
            color:rgb(4, 91, 98);
        }

        .job_description,.job_requirements{
            text-align: justify;
            padding-left: -5vw;
        }

        .description,.requirements{
            text-align: justify;
            white-space: pre;
            
        }

        .keywords,.location,.choose{
            width: 100%;
            height: 4vh;
            border-radius: 1vh;
            border-style: none;
            text-align: center;
        }

        .searchbutton
        {
            width: 100%;
            color: white;
            margin-top: 0.5vh;
            
        }

        .sbtn{
            background-color: rgb(186, 189, 189);
            border-style: none;
        }

    </style>

    <div class="main_container">
       
            <div class="search_box">
                <form method="POST" class="form">
                    {% csrf_token %}
                
                    <div class="row search">

                        <div class="col-3 keywords">
                            <input class="keywords" type="text" placeholder="job tile ..">
                        </div>

                        <div class="col-3 location">
                            <input class="location" type="text" placeholder="location">
                        </div>

                        <div class="col-2 choose">
                            <select class="choose" name="pets dropdown" id="pet-select">
                                <option value="">-Job Type-</option>
                                <option value="part-time">Part-Time</option>
                                <option value="full-time">Full-Time</option>
                                <option value="contract">Contract</option>
                            </select>
                        </div>

                        <div class="col-1 searchbutton">
                            <button class="btn btn-danger sbtn"><span class="glyphicon glyphicon-search "></span></button>
                        </div>

                        <div class="col-2 add_job">
                            <a href="{% url 'employer' %}"><button type="button" class="btn btn-danger">Employer Mode</button></a>
                        </div>

                    </div> 
                </form>
            </div>
            
        <div class="row job">
            
            <div class="col-3 job_list">
                <hr>
                {% if jobs is not none %}
                {% for job in jobs %}
                <div class="title">
                    <a href=""><h4>{{job.tile}}</h4></a>
                    <h5>{{job.business_name}}</h5>
                    <h5>{{job.street_title}}, {{job.city}}, {{job.state}}, {{job.zip_code}}.</h5>
                </div>
                <hr>
                {% endfor %}
                {% endif %}

                {% if job is none %}
                    <h4>Sorry! 0 jobs available.</h4>
                {% endif %}
                
                <hr>
                
            </div>
            
            <div class="col-8 job_info">
                <div class="job_title">
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4> Cashier </h4>
                        </div>
                        <div class="col" style="text-align:right;">
                            <button type="button" class="btn btn-primary">Apply</button>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-bookmark"></span></button>
                        </div>
                    </div>
                    <h5>Himalayan Cafe</h5>
                    <h5>3500 Concordia street, Monroe, LA, 71203.</h5>
                </div>

                <div class="job_details">
                    <hr>
                    <h4>Job Details</h4>
                    <hr>
                    <div class="row job_section">
                        <div class="col details">
                            Part-Time
                        </div>
                        <div class="col details">
                            schedulable
                        </div>
                        <div class="col details">
                            Any Shift
                        </div>
                        <div class="col details">
                           $12 - $13
                        </div>
                        <div class="col details">
                            Free Food
                        </div>
                    </div>
                </div>
                <div class="job_description">
                    <hr>
                    <h4> Job Description </h4>
                    <hr>
                    <div class="description">
                        
                    Now Hiring Immediately!

                    What We Can Offer You:
  
                        <br>
                        
                    </div>
                    
                </div>
                <div class="job_requirements">
                    <hr>
                    <h4> Job Requirements </h4>
                    <hr>
                    <div class="requirements">
                       
                    Now Hiring Immediately!

                    What We Can Offer You:
   
                        <br>
                        
                    </div>
                    
                </div>
            </div>
            
           
        </div>
        
    </div>
    
    
        
       
    {% endblock %}
    



