{% extends 'Job/base.html' %}{% load static %}

{% block searchbar %}{% endblock %}

{% block content %}

<style>

    body{
        background-color: white;
    }
    .container{
        margin-top: 2vh;
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
        min-height: 82vh;
    }
    
    .first{
        height: 20vh;
        padding-top: 2vh;
        background-color: #f3f3f3;
        border-radius: 1vh;
        color: black;
        
    }

    .profilepic{
        border-style: double;
        height: 11vh;
        width: 11vh;
        margin-left: 5vh;
        border-radius: 10vh;
        padding-top: 3vh;
        padding-left: 1.5vw;
        background-color: rgb(4, 91, 98);
        color: white;
        margin-top: 2vh;
        font-size: x-large;
    }

    .namesec{
        font-size: 3vh;
        padding-top: 4vh;
    }
    
    .emailsec{
        text-align: right;
        height: 5vh;
        margin-bottom: 2vh;
    }
   
    .profileImage{
        width: 13vh;
        height: 13vh;
        border-radius: 10vh;
        margin-left: 2vw;
        margin-top: 2vh;
    }

    .experience_container,.certification_container{
        background-color: #f3f3f3;
        min-height: 15vh;
        margin-top: 2vh;  
        margin-bottom: 2vh;
        border-radius: 1vh;
    }


    .experience_header{
        height: 5vh;
        
    }

    .experience_content{
        min-height: 10vh;
        padding-left: 1vh;
        
    }

    .editexp{
        font-size: large;
        padding-top: 2vh;
        color: rgb(4, 91, 98);
    }

    .each_experience{
        min-height: 10vh;
        background-color: #ffffff00;
        padding-left: 2vw;
    }

    .job_title{
        font-size: 2.5vh;
        
    }

    .employer{
        font-size: 2vh;
    }

    .work_date{
        padding-left: 35vw;
              
    }

    .experience_description{
        min-height: 10vh;
        padding-top: 1vh;
        font-size: 2vh;
        text-align: justify;
        padding-right: 2vw;

    }

    .each_certification{
        min-height: 5vh;
        padding-left: 1vw;
        margin-bottom: 1vh;
        padding-left: 5vw;
    }

    .certification_link{
        width: 50vw;
        
    }

</style>


<div class="container">
    <div class="row first">
        <div class="col-2 ">
            <img src="{% static 'images/Job/pic.jpg'%}" alt="pic" class="profileImage">
        </div>

        <div class="col-4 namesec">
            {{profile.user.email}}
            <h3><a href="{% url 'updateprofile' profile.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h3>   
        </div>
    </div>

    <div class="row experience_container">
        <div class="col">
            <div class="row experience_header">
                <div class="col-2">
                    <h3> Experience</h3>
                </div>

                <div class="col-8 editexp">
                    <span class="glyphicon glyphicon-pencil"> </span> <a href="{% url 'addExp' %}"><span class="glyphicon glyphicon-plus"></span></a>  
                </div>
            </div>

            <hr>
            
            <div class="row experience_content">
                {% for experience in experiences %}
                <div class="row each_experience">
                    
                        <div class="row job_title"> {{experience.job_title}} </div>

                        <div class="row employer"> 
                            <div class="employer_name"> {{experience.employer}}   </div>
                            <div class="work_date">  {{experience.type}}  {{experience.start_date}} - {{experience.end_date}} </div>
                        </div>

                        <div class="row experience_description">
                          {{experience.job_description|safe}}
                        </div>
                
                </div>
            <hr>
            {% endfor %} 
            </div>
        </div>
        </div>
    
            <div class="row certification_container">
                <div class="col">
                    <div class="row experience_header">
                        <div class="col-2">
                            <h3> Certifications</h3>
                        </div>
                        
                        <div class="col-8 editexp">
                            <span class="glyphicon glyphicon-pencil"> </span> <a href="{% url 'addCertification' %}"><span class="glyphicon glyphicon-plus"></span></a> 
                        </div>
                        
                    </div>
                    <hr>
                    {% for certificate in certificates %}
                    <div class="row each_certification">
                    <div class="col">
                        <div class="row">
                            <a><button class="btn btn-primary certification_link"> {{certificate.certification_name}}  </button></a>
                        </div>
                        <div class="row">
                            <span>Issued by: {{certificate.issued_by}}</span>
                        </div>
                    </div>
                        
                    </div>
                    <hr>
                    {% endfor %}
                    
                    
                </div>

            </div>

    </div>

    

    </div>
    
  
{% endblock %}