{% extends 'Job/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    
    .profileForm{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
        min-height: 80vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding: 2vh;
        background-color: #f3f3f3;
        border-radius: 2vh;
    }
    
    .postsubmit{
        width: 10vw;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 1vh;
        border-style: none;
        background-color:rgb(4, 91, 98);
    }
   
</style>

<div class="container profileForm">

        <form action="." method="POST">
        {% csrf_token %}
            {{profileForm|crispy}} 
        <div class="row">
            <input type="submit" value="Share"  name="post" class="btn btn-primary btn-lg postsubmit">
        </div> 
        </form>

</div>
{% endblock %}